[submodule "projects/REQ"]
	path = projects/REQ
	url = git@github.com:ecxs-daedalus/req.git
[submodule "archive/GYM"]
	path = archive/GYM
	url = git@gitlab.com:hm13/gym.git
[submodule "archive/MINIRVT"]
	path = archive/MINIRVT
	url = git@gitlab.com:hm13/minirvt.git
